/* Add CSS Styling */



.odd {
    background-color:#e2658d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#n2 {
    color:#0000ff;
    font-size:36px;
}

#n3,
#n4 {
    font-size:24px;
}

#n4 {
    background-color:#a0ff00;
    font-weight: 700;   
}
