body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  padding: 0px 16px;
  font-weight: 900;
  font-size: 32px;
  align-content: center;
}

.content {
  display: flex;
  flex: 1; /*NOTA BENE: grazie a questa linea di codice, il body cresce occupando tutto lo spazio a disposizione*/
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 48px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  align-content: center;
  text-align: center;
  justify-self: flex-end;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 15px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  padding: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

li {
  margin-bottom: 16px;
}

a {
  color: white;
  text-decoration: none;
}